# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
venv/
.venv/

# ML artifacts
artifacts/
data/
reports_output/
audit_logs/
mlflow.db
mlruns/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
